[Unit]
Description=Chromecast-Kiosk
After=network-online.target

[Service]
ExecStart=-/usr/bin/node /app/index.js
WorkingDirectory=/app
Restart=on-failure
# Hardening
SystemCallArchitectures=native
MemoryDenyWriteExecute=true
NoNewPrivileges=true

[Install]
WantedBy=network-online.target